@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');


:root {
  --green: #3dcc58;
  --white: #ffffff;
  --bg-body: #efeeec;
  --green-login: #61f07d;
  --button: #00b7e9;
  --button-hover: #3ac3e9;
  --color-font-title: #333333;

}


html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 1px;
  background-color: var(--bg-body);


}

.title-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100px;
}

h1{
  font-size: 25px;
  color: #626469;
}

.img-logo {
  width: 70px;
}

li>.nav-link {
  color: var(--white)
}

main {
  margin-top: 100px;



}


.bg-navbar {
  background-color: var(--green);
}

.bg-content {
  background-color: var(--bg-body);
}

.bg-login {
  background-color: var(--green-login);
}

.bnt-sucess {
  background-color: var(--button);
  color: var(--white);
}

.bnt-sucess:hover {
  background-color: var(--button-hover);
  color: var(--white);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / .7);
}

dialog {
  border: none;
  border-radius: .5rem;
  box-shadow: 0 0 1rem rgb(0 0 0 / .3);
  width: 80%;
}

#modal_close {
  cursor: pointer;
}

h3,
.perfil-name {
  font-size: 1.5vw;
  font-weight: 700;
  ;
  color: var(--color-font-title);
}

.perfil-name {
  font-size: 1.5rem;
}

.cards-padrao{
  height: 60vh;
  
}