@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');


:root {
  --green: #3dcc58;
  --white: #ffffff;
  --bg-body: #efeeec;
  --green-login: #61f07d;
  --button: #00b7e9;
  --button-hover: #3ac3e9;
  --color-font-title: #333333;

}


html {
  height: 100%;
  padding: 0;

}

body {
  height: 100%;
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 1px;
  background-color: var(--bg-body);


}

.title-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100px;
}

nav  h1{
  font-size: 25px;
  color: #626469;
}

.img-logo {
  width: 70px;
}

li>.nav-link {
  color: var(--white)
}

main {
  margin-top: 100px;



}


.bg-navbar {
  background-color: var(--green);
}

.bg-content {
  background-color: var(--bg-body);
}

.bg-login {
  background-color: var(--green-login);
}

.bnt-sucess {
  background-color: var(--button);
  color: var(--white);
}

.bnt-sucess:hover {
  background-color: var(--button-hover);
  color: var(--white);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / .7);
}

dialog {
  border: none;
  border-radius: .5rem;
  box-shadow: 0 0 1rem rgb(0 0 0 / .3);
  width: 80%;
}

#modal_close {
  cursor: pointer;
}

h3,
.perfil-name {
  font-size: 1.5vw;
  font-weight: 700;
  ;
  color: var(--color-font-title);
}

.perfil-name {
  font-size: 1.5rem;
}

.cards-padrao{
  height: 60vh;
  
}
.pointer{
  cursor: pointer;
}
.trofeu {
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .7));

}

body .section {
  display: flex;
  justify-content: space-between;

  height: 62%;
  width: 100%;
  background: var(--bg-body)
}


body .section .prize_help {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid #2d07ff;
}
body .section .prize_help .help {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15%;
  width: 100%;
}
body .section .prize_help .help p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24%;
  height: 40px;
  font-size: 1rem;
  border: 1px solid #0400ff;
  border-radius: 50%;
  color: var(--green);
  padding: 1px;
}
body .section .prize_help .help p:hover {
  cursor: pointer;
  width: 25%;
  height: 36px;
  font-size: .75rem;
  transition: 0.2s linear;
}
body .section .prize_help .help .used, body .section .prize_help .help .used:hover {
  text-decoration: line-through;
  width: 25%;
  height: 22px;
  font-size: 0.51rem;
}
body .section .prize_help .prize {

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body .section .prize_help .prize p {
  color: #d59534;
  font-weight: 700;
  font-size: 1rem;
  width: 100%;
  text-align: center;
  border-radius: 1px;
  display: flex;
  justify-content: space-around;
}
body .section .prize_help .prize .unlost {
  color: #fff;
}
body .section .prize_help .prize .win {
  background: #e7ac3f;
  color: #000;
}
body .questions {
  

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1em;

}
body .questions .question {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;

  justify-content: center;
}
body .questions .question span {
  height: 100%;
  padding: 1rem;
  width: 70%;
  border: 1px solid #cccf09;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: capitalize;
  font-size: 1.2rem;
}
body .questions .answer {
  width: 70%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body .questions .answer span {
  width: 40%;
  height: 50px;
  margin: 15px;
  padding: 3rem;
  border: 1px solid #5258fb;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1rem;
}
body .questions .answer span:hover {
  background: #5258fb;
  cursor: pointer;
  transition: 0.2s linear;
}
body .questions .answer .true, body .questions .answer .true:hover {
  background: green;
}
body .questions .answer .false, body .questions .answer .false:hover {
  background: red;
}
.marginleft{
  margin-left: 120px;
}